pandas==1.3.5
pystan==2.19.1.1
git+https://github.com/turkish-gekko/signal-atr@master#egg=signal-atr
git+https://github.com/turkish-gekko/service-binance-rest@main#egg=turkish_gekko_binance_service
matplotlib~=3.5.1
ta==0.9.0