matplotlib==3.5.1
pandas==1.3.4
ta==0.9.0
git+https://github.com/turkish-gekko/signal-prophet@master#egg=signal_prophet
git+https://github.com/turkish-gekko/signal-swing-trader@master#egg=swing-trader
git+https://github.com/turkish-gekko/signal-atr@master#egg=signal-atr
git+https://github.com/turkish-gekko/service-binance-rest@main#egg=turkish_gekko_binance_service

